/* #region utility */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

:root {
    --jumbo: #B4D0E7;
    --buttons: #0061FF;
    --alt_bg: #D9D9D9;
    --footer: #000000;
    --florida: #0093CE;
    --lonelyplanet: #0D2481;
    --arizona_university: #61082B;
    --designit: #A2D39B;
    --hearst: #B4D0E7;
    --world_bicycle: #D5001F;
    --topps: #FF1C1C;
    --clear_channel: #FFD830;

}

.pd_3 {
    padding: 3rem;
}

.pd_top1 {
    padding-top: 1rem;
}

.pd_top2 {
    padding-top: 2rem;
}

.pd_top3 {
    padding-top: 2.2rem;
}

.pd_top1_5 {
    padding-top: 1.5rem;
}

.pd_top1_7 {
    padding-top: 1.7rem;
}

.pd_top6 {
    padding-top: 6rem;
}

.mg_top1 {
    margin-top: 1rem;
}

.mg_top2 {
    margin-top: 2rem;
}

.mg_top3 {
    margin-top: 3rem;
}

.mg_top4 {
    margin-top: 4rem;
}

.mg_top6 {
    margin-top: 6rem;
}

.mg_top13 {
    margin-top: 13rem;
}

.mg_bot4 {
    margin-bottom: 4rem;
}

.mg_bot3 {
    margin-bottom: 3rem;
}

.mg_bot6 {
    margin-bottom: 6rem;
}

.mg_bot12 {
    margin-bottom: 12rem;
}

.gap {
    gap: 1rem;
}

.gap3 {
    gap: 50px;
}

.blue{
    color: blue;
}

.fa-check {
    color: var(--buttons);
}


/* #endregion utility */

/* #region col_ */

.col_1 {
    width: calc((100% / 12) * 1);
}

.col_2 {
    width: calc((100% / 12) * 2);
}

.col_3 {
    width: calc((100% / 12) * 3);
}

.col_4 {
    width: calc((100% / 12) * 4);
}

.col_4_gap {
    width: calc((100% / 12) * 4 - 3rem);
}

.col_5 {
    width: calc((100% / 12) * 5);
}

.col_6 {
    width: calc((100% / 12) * 6);
}

.col_7 {
    width: calc((100% / 12) * 7);
}

.col_8 {
    width: calc((100% / 12) * 8);
}

.col_9 {
    width: calc((100% / 12) * 9);
}

.col_10 {
    width: calc((100% / 12) * 10);
}

.col_11 {
    width: calc((100% / 12) * 11);
}

.col_12 {
    width: calc((100% / 12) * 12);
}

/* #endregion col_ */

/* #region funzionalità */


.dropdown:hover .dropdown-content{
    display: block;
    background-color: #b0b7be;
}

.dropdown-item:hover{
    background-color: white;
}

.start:hover{
    background-color: var(--florida);
    box-shadow: 0 0 10px var(--buttons);
    transition: 0.70s;
}

.trial:hover{
    background-color: var(--florida);
    box-shadow: 0 0 10px var(--buttons);
    transition: 0.70s;
}

.days:hover{
    background-color: var(--florida);
    box-shadow: 0 0 10px var(--buttons);
    transition: 0.70s;
}

.free:hover{
    background-color: var(--florida);
    box-shadow: 0 0 10px var(--buttons);
    transition: 0.70s;
}

.find_partner:hover{
    box-shadow: 0 0 5px black;
    transition: 0.70s;
}

.last_trial:hover{
    box-shadow: 0 0 5px black;
    transition: 0.70s;
}


.faq:hover .faq_section:hover .accordion-item-content,
.faq .accordion-item-content .accordion-item-content {
    height: 7em;
    color:black;
}

.accordion-item-content,
.faq:hover .accordion-item-content {
    height: 0;
    overflow: hidden;
    transition: 0.75s;
}

footer a:hover{
    text-decoration: underline white;
}


/* #endregion funzionalità */

/* #region header */

nav {
    justify-content: space-between;
    background-color: white;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 30;
    box-shadow: 0 0 10px var(--buttons);

}

.left,
.right {
    gap: 1.7rem;
    padding: 1rem;
}

nav img{
    margin-top: 0.70rem;
    max-height: 25px;

}


header a {
    text-decoration-line: none;
    color: black;
}

.drop_button {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 20px 0px black;
    z-index: 10;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}


.start{
    background-color: var(--buttons);
    border: none;
    padding: 1rem;
    color: white;
}



/* #endregion header */

/* #region main */

.jumbo {
    background-color: var(--jumbo);
    padding-top: 6rem;
}

h1 {
    max-width: 1980px;
    font-size: 4.5rem;
    padding-top: 3%;
    padding-bottom: 2rem;
}

.container_jumbo {
    width: 60%;
    margin: auto;
}

.width_20 {
    max-width: 20%;
}

.trial {
    text-decoration: none;
    display: inline-block;
    font-size: 1.1rem;
    margin-top: 2rem;
    margin-bottom: 1.7rem;
    background-color: var(--buttons);
    border: none;
    padding: 0.8rem;
    border-radius: 2rem;
    color: white;
}


.fa-arrow-down {
    margin-top: 5rem;
    font-size: 3rem;
    color: black;
}

.jumbo_img{
    margin-top: 2.2rem;
    max-width: 100%;
    margin-bottom: -3rem;
}

.container_mid {
    width: 50%;
    margin: auto;
    margin-top: 10%;
}

h2 {
    font-size: 2rem;
}

input[type="radio"]{
    margin-top: 3rem;
    width: 1rem;
    height: 1rem;
}


.annuale {
    margin-left: 2.5rem;
}

.border {
    border: solid 1px;
}

.top_card {
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid;
}

.inside_card {
    padding-top: 2rem;
    max-width: 80%;
    margin: auto;
}

.free{
    display: block;
    background-color: var(--buttons);
    text-decoration: none;
    padding: 1rem;
    text-align: center;
    color: white;
}

.border_bot {
    border-bottom: 1px solid black;
    padding-bottom: 2rem;
}

.container_team {
    margin-top: 2rem;
    text-align: center;
    border: 2px solid black;
}

.team {
    padding: 0.5rem;
    margin-top: 3rem;
    text-align: center;
    border: 1px solid black;
    border-bottom: none;
}

.bord {
    border: 1px solid black;
}

.days {
    background-color: var(--buttons);
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 1rem;
}

.team_left {
    padding: 2rem;
}

.team_right {
    padding: 2rem;
    text-align: end;
}

.partner {
    max-width: 90%;
    padding-top: 8rem;
}

.right_partner {
    padding-top: 13rem;
    max-width: 28%;
}

.contact_partner {
    font-size: 1.5rem;
}

.find_partner {
    display: inline-block;
    text-decoration: none;
    border: solid 1px;
    margin-top: 2rem;
    padding: 0.75rem;
    color:  black;
}


.business {
    max-width: 100%;
}

.drop_business {
    max-width: 60%;
}



.partners {
    height: 350px;
    max-width: 50%;
    text-align: center;
}

svg {
    fill: white;
}

.flory {
    max-width: 60%;
    text-align: center;
    height: 350px;
    padding-top: 50%;
}

.center {
    justify-content: center;
}

.designit {
    background-color: var(--designit);
    box-shadow: inset #D1E9CD 0 0 0 15px;
}

.arizona {
    background-color: var(--arizona_university);
}

.florida {
    background-color: var(--florida);
}

.topps {
    background-color: var(--topps);
}

.world {
    background-color: var(--world_bicycle);
}

.hearst {
    background-color: var(--hearst);
}

.lonely {
    background-color: var(--lonelyplanet);
}

.clear {
    background-color: var(--clear_channel);
}

.designit_center {
    padding: 3rem;
    width: 60%;
    color: #f5f5f5;
}

.bg {
    background-color: var(--hearst);
}

.max_width {
    max-width: 50%;
    margin: auto;
    justify-content: space-between;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.max_width:first-child {
    color: var(--arizona_university);
}

.start_last_trial{
    margin-top: 1rem;
}

.last_trial {
    color: black;
    background-color: white;
    text-decoration: none;
    border: 1px solid;
    padding: 0.75rem 3rem;
}

.faq {
    padding-top: 10rem;
    max-width: 50%;
    margin: auto;
}

.faq>h2 {
    margin-bottom: 3.5rem;
}

.faq_section {
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
    justify-content: space-between;
    border-top: 1px solid;
}

.last_faq {
    border-bottom: 1px solid;
    margin-bottom: 10rem;
}

.fa-angle-down{
    margin-left: 30%;
}

.accordion-item-content{
    padding-top: 2rem;
    max-width: 70%;
}

/* #endregion main */

/* #region footer */

#site_footer{
    background-color: var(--footer);
    color: white;
}

.containter_footer{
    padding-top: 6rem;
    width: 60%;
    margin: auto;
}

.dropbox{
    justify-content: space-between;
}

footer ul{
    list-style-type: none;
}

footer li{
    padding: 0.5rem;
}

footer a{
    text-decoration: none;
    color: white;
}

.title{
    font-size: 2rem;
    margin-bottom: 2rem;
}

.language{
    color: gray;
    width: 70%;
    padding-top: 3rem;
    margin-top: 7rem;
    margin-bottom: 3rem;
    border-top: 1px solid gray;
}



.fa-earth-americas{
    padding: 3px;
}

.fa-sort-up{

    padding-left: 5px;
    font-size: 12px;
}


/* #endregion footer */